head
  title pug-templating
  link(rel="stylesheet", href="../css/main.css")
body
  header.nav
    a(href="/") Home
    a(href="/inventory") Menu

  h1 About Me
  h2 World's best baker!

  p 
    |Hi i'm Sonny and baking quality goods for you is my passion in life. I began baking mud pies when I was 3 years old on the bricks in my backyard and have used the same technique ever since! 