doctype html
html
  head
    title pug-templating
    link(rel="stylesheet", href="../css/main.css")
 
  body
    block content
    header.nav
      a(href="/about") About
      a(href="/inventory") Menu

    img.logo(src="http://www.livingstonmanor.org/wp-content/uploads/2011/03/logo.jpg" alt="logo")
    h2 Making the best pastries in the world since 1990!

    p
      |Flour Power bakery has been lovingly crafting baked goods from produce that the earth so graciously provides for us. No energy wasting ovens are used in my kitchen,all item are baked in the sunshine! 


    