doctype html
html
  head
    title bakerr
    link(rel="stylesheet", href="../css/main.css")
  body
  header.nav
    a(href="/") Home
    a(href="/about") About
    
    h1 Menu
    img.menu(src="http://www.bakedinthesun.com/wp-content/uploads/2015/08/homepic.jpg")
    h4.names
      ul
        each pastry in food
          li #{pastry} 